<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 mt-2 mb-2 d-xl-flex justify-content-around">
      <div class="text-center">
        <img class="img-fluid title-image" src="/assets/kaunas-logo.png">
      </div>
      <div class="text-center row justify-content-center align-self-center">
        <h4 class="title text-uppercase">Kauno parkų ir sporto aikščių paieška</h4>
      </div>
      <div class="header-icons">
        <img class="img-fluid header-icon-tree" src="/assets/Tree-icon128.png">
        <img class="img-fluid header-icon-ball" src="/assets/Soccer-Ball-icon64.png">
        <img class="img-fluid header-icon-tree" src="/assets/Tree-icon128.png">
        <img class="img-fluid header-icon-ball" src="/assets/Misc-Games-icon64.png">
        <img class="img-fluid header-icon-tree" src="/assets/Tree-icon128.png">
        <img class="img-fluid header-icon-ball" src="/assets/Volleyball-icon64.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 search shadow-lg">
      <form novalidate
            [formGroup]="form"
            class="pt-1 d-flex align-items-baseline justify-content-lg-around justify-content-md-center flex-wrap">
        <div class="radios">
          <label class="mr-2" [innerHtml]="'Ko ieškosiu:'"></label>
          <div class="custom-control custom-radio d-inline">
            <input (change)="setLoading(true); markerClicked = false" formControlName="radioValue"
                   class="ml-3 custom-control-input"
                   type="radio"
                   id="Radio1" title=""
                   name="radioValue"
                   [value]="'/parks'">
            <label for="Radio1" [innerHtml]="'Parkai'" class="ml-1 custom-control-label"></label>
          </div>
          <div class="custom-control custom-radio d-inline">
            <input (change)="setLoading(true); markerClicked = false" formControlName="radioValue" type="radio" title=""
                   id="Radio2"
                   name="radioValue"
                   [value]="'/sports'" class="ml-3 custom-control-input">
            <label for="Radio2" [innerHtml]="'Sporto aikštės'" class="ml-2 mr-4 custom-control-label"></label>
          </div>
        </div>
        <div>
          <label class="" for="subdistrict" [innerHtml]="'Kur ieškosiu:'"></label>
          <select (change)="setLoading(true); markerClicked = false" class="ml-2 mr-2 mb-1 form-control d-inline"
                  id="subdistrict"
                  formControlName="subdistrictValue">
            <option *ngFor="let option of dropdownOptions" [value]="option">
              {{option}}
            </option>
          </select>
        </div>
        <div class="input-field mb-2 mb-md-0">
          <div (clickOutside)="showDropDown = false">
            <input type="text" #searchInput (keyup)="search(searchInput.value)" (click)="showDropDown = !showDropDown"
                   placeholder="Ieškoti pagal parko pavadinimą"
                   class="input-underline search-bar mb-md-1" id="park">
            <div>
              <div *ngIf="showDropDown" class="search-drop-down">
                <div class="search-results" *ngFor="let item of (parks$ | async)">
                  <div (click)="select(item)">
                    {{item.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 position-relative" style="padding: 0">
      <button *ngIf="currentZoom !== 12" class="btn-sm btn-success zoom-back mt-3 position-absolute"
              (click)="redrawMap()">Grįžti atgal
      </button>
      <div class="card position-absolute" *ngIf="markerClicked">
        <div class="card-header text-center">
          <div class="row">
            <div class="col-8">
              <h6 class="d-inline">{{item.name}}</h6>
              <img
                src="{{parkFlag ? '/assets/Tree-icon32.png' : (item.name === 'Krepšinio aikštė' ? '/assets/basketball-icon.png' : (item.name === 'Futbolo aikštė' ? '/assets/soccer-ball-icon.png' : (item.name === 'Tinklinio aikštė' ? '/assets/volleyball-32.png' : '/assets/exercise.png')))}}">
            </div>
            <div class="col-4">
              <button class="btn-sm btn-success" (click)="markerClicked = false">Uždaryti</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <img src="/assets/pin.png">
              <p class="card-title d-inline ml-2">{{item.subdistrict}}</p>
              <div *ngIf="distance">
                <img src="/assets/ruler.png">
                <p class="card-text d-inline ml-2">{{distance}} km atstumas nuo jūsų buvimo vietos</p>
              </div>
            </div>
            <div class="col-6">
              <div *ngIf="item.url">
                <img src="/assets/info.png">
                <a href="{{item.url}}" target="_blank"
                   class="card-text d-inline ml-2">Daugiau info</a>
              </div>
              <div>
                <img src="/assets/fb.png">
                <a href=""
                   id="link" (click)="fbShareLink(item.latitude, item.longitude)"
                   target="_blank" class="ml-2">Dalintis su draugais</a>
              </div>
              <div *ngIf="parkFlag">
                <img src="/assets/browse.png">
                <a href="http://parkai.kaunas.lt/"
                   target="_blank" class="ml-2">parkai.kaunas.lt</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map shadow-lg">
        <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
        <agm-map #AgmMap mapTypeId="roadmap">
          <agm-marker [latitude]="userLatitude"
                      [longitude]="userLongitude"
                      (mouseOver)="onMouseOver(infoWindow)"
                      (mouseOut)="onMouseOut(infoWindow)">
            <agm-info-window *ngIf="userLatitude && userLongitude" #infoWindow [isOpen]="true"
                             [disableAutoPan]="true">
              <p [innerHtml]="'Jūs esate čia'"></p>
            </agm-info-window>
          </agm-marker>
          <agm-marker *ngFor="let park of filteredParks"
                      [latitude]="park.latitude"
                      [longitude]="park.longitude"
                      [iconUrl]="'/assets/Tree-icon32.png'"
                      (mouseOver)="onMouseOver(infoWindow1)"
                      (mouseOut)="onMouseOut(infoWindow1)"
                      (markerClick)="onMarkerClick(park, park.latitude, park.longitude)">
            <agm-info-window #infoWindow1>
              <h6 [innerHtml]="park.name"></h6>
              <p [innerHtml]="'Spustelti detalesnei informacijai'"></p>
            </agm-info-window>
          </agm-marker>
          <agm-marker *ngFor="let sport of sports"
                      [latitude]="sport.latitude"
                      [longitude]="sport.longitude"
                      [iconUrl]="sport.name === 'Krepšinio aikštė' ? '/assets/basketball-icon.png' : (sport.name === 'Futbolo aikštė' ? '/assets/soccer-ball-icon.png' : (sport.name === 'Tinklinio aikštė' ? '/assets/volleyball-32.png' : '/assets/exercise.png'))"
                      (mouseOver)="onMouseOver(infoWindow2)"
                      (mouseOut)="onMouseOut(infoWindow2)"
                      (markerClick)="onMarkerClick(sport, sport.latitude, sport.longitude)">
            <agm-info-window #infoWindow2>
              <h6 [innerHtml]="sport.name"></h6>
              <p [innerHtml]="'Spustelti detalesnei informacijai'"></p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>

<!---Error modal-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Klaida!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="errorMessage" [innerHtml]="errorMessage"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
