.container-fluid {
  background: #edf0e8 url("https://www.parks.ca.gov/images/common/bg2.gif") repeat !important;
  padding-bottom: 25px;
}

.suggestions {
  background-color: white;
  left: 110px;
  z-index: 200;
  width: 206px;
}

.suggestions:hover {
  background-color: #efeff5;
}

.suggested-item {
  color: black;
  text-decoration: none;
}

.search {
  background: rgb(247, 247, 243);
}

.title {
  display: inline;
  font-size: xx-large;
  font-family: 'Reem Kufi', sans-serif;
}

.custom-control-label::before, .custom-control-label::after {
  top: 1px;
}

.card {
  max-width: 23rem;
  top: 10px;
  left: 10px;
  z-index: 99;
}

@media (max-width: 767px) {
  .subdistricts, .places {
    display: inline-block;
  }

  .suggestions {
    width: 185px;
    left: 15px;
  }

  .search-label, .buttons {
    display: block;
  }

  .search {
    font-size: 15px;
  }

  .places {
    margin-bottom: 0;
  }

  .custom-control-label::before {
    width: 14px;
    height: 14px;
    top: 1px;
  }

  .custom-control-label::after {
    width: 14px;
    height: 14px;
    top: 1px;
  }

  .btn {
    font-size: 0.85rem;
  }

  agm-map {
    width: 100%;
    height: 450px;
  }

  .title {
    display: block;
    font-size: x-large;
  }

  .title-image {
    width: 120px;
    height: 134px;
  }

  .header-icon-tree {
    width: 64px;
    height: 64px;
  }

  .header-icon-ball {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 1310px) {
  .header-icons {
    text-align: center;
    display: block;
  }
}

@media (min-width: 768px) {
  .map {
    width: 85%;
    margin: auto;
  }
  agm-map {
    width: 100%;
    height: 660px;
    margin: 0 auto;
  }
}

#searchItem {
  font-size: 0.85rem;
}
#searchItem:hover {
  background-color: #98FB98;
  cursor: pointer;
}
