<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 mt-2 mb-2 d-xl-flex justify-content-around">
      <div class="text-center">
        <img class="img-fluid title-image" src="/assets/kaunas-logo.png">
      </div>
      <div class="text-center row justify-content-center align-self-center">
        <h4 class="title text-uppercase">Kauno parkai ir sporto aikštės</h4>
      </div>
      <div class="header-icons">
        <img class="img-fluid header-icon-tree" src="/assets/Tree-icon128.png">
        <img class="img-fluid header-icon-ball" src="/assets/Soccer-Ball-icon64.png">
        <img class="img-fluid header-icon-tree" src="/assets/Tree-icon128.png">
        <img class="img-fluid header-icon-ball" src="/assets/Misc-Games-icon64.png">
        <img class="img-fluid header-icon-tree" src="/assets/Tree-icon128.png">
        <img class="img-fluid header-icon-ball" src="/assets/Volleyball-icon64.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 search shadow-lg">
      <form novalidate
            [formGroup]="form" (change)="setLoading($event)" class="pt-1 d-flex align-items-baseline justify-content-lg-around justify-content-md-start flex-wrap">
           <div> 
          <label class="mr-2" [innerHtml]="'Ko ieškosiu:'"></label>
          <input formControlName="radioValue" type="radio" id="Radio1" title="" name="radioValue" 
        [value]="'/parks'">
          <label class="mr-1" for="Radio1" [innerHtml]="'Parkai'"></label>
          <input formControlName="radioValue" type="radio" title="" id="Radio2" name="radioValue"
          [value]="'/sports'">
          <label for="Radio2" [innerHtml]="'Sporto aikštės'"></label>
            </div>
            <div>
                <label class="ml-md-2" for="subdistrict" [innerHtml]="'Kur ieškosiu:'"></label>
                   <select class="ml-2" id="subdistrict" formControlName="subdistrictValue">
                     <option *ngFor = "let option of dropdownOptions" [value]="option"> 
                       {{option}} 
                     </option>
                   </select>
                 </div>
        <div class="input-field mb-2 mb-md-0">
          <label for="park" [innerHtml]="'Ieškoti parko'"></label>
          <div style="display: inline;">
          <input [disabled]="!(online$ | async)" autocomplete="off" id="park" list="list" placeholder="Parko pavadinimas" type="text"
                 class="ml-2 validate filter-input" [ngModelOptions]="{standalone: true}"
                 [(ngModel)]=query (keyup)="searchFilter()">

          <div class="shadow-lg suggestions d-block position-absolute border border-dark text-center" *ngIf="filteredList.length > 0">
            <ng-container id="list" *ngFor="let item of filteredList">
              <span id="searchItem" class="suggested-item d-block" (click)="select(item)">
              {{item.name}}</span>
            </ng-container>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 position-relative">
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
      <button *ngIf="currentZoom !== 12" class="btn-sm btn-success zoom-back mt-3 position-absolute" (click)="setCenter(kaunasLat, kaunasLon); setZoom(12)">Grįžti atgal</button>
      <div class="card position-absolute" *ngIf="markerClicked">
        <div class="card-header text-center">
          <div class="row">
            <div class="col-8">
              <h6 style="display: inline">{{item.name}}</h6>
              <img src="/assets/Tree-icon32.png" *ngIf="parkFlag">
              <img src="/assets/basketball-icon.png" *ngIf="item.name === 'Krepšinio aikštė'">
              <img src="/assets/soccer-ball-icon.png" *ngIf="item.name === 'Futbolo aikštė'">
              <img src="/assets/volleyball-32.png" *ngIf="item.name === 'Tinklinio aikštė'">
            </div>
            <div class="col-4">
              <button class="btn-sm btn-success" (click)="markerClicked = false">Uždaryti</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <i class="fas fa-map-marker-alt"></i>
              <p style="display: inline" class="card-title">{{item.subdistrict}}</p>
              <div>
                <div *ngIf="distance">
                  <i class="fas fa-info-circle"></i>
                  <p style="display: inline" class="card-text">{{distance}} km atstumas nuo jūsų buvimo vietos</p>
                </div>
                <a *ngIf="item.url" href="{{item.url}} "style="display: block" target="_blank"
                class="card-text">Daugiau info</a>
              </div>
            </div>
            <div class="col-6 text-center">
                <a href=""
                   id="link" (click)="fbShareLink(item.latitude, item.longitude)"
                   target="_blank"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
                   <p style="font-size: 0.8rem;" [innerHtml]="'Dalintis su draugais'"></p>
               </div>  
            </div>
        </div>
      </div>
      <div class="map shadow-lg">
        <agm-map #AgmMap mapTypeId="terrain">
          <agm-marker [latitude]="userLatitude"
                      [longitude]="userLongitude"
                      (mouseOver)="onMouseOver(infoWindowUser)"
                      (mouseOut)="onMouseOut(infoWindowUser)">
            <agm-info-window *ngIf="userLatitude && userLongitude" #infoWindowUser [isOpen]="true" [disableAutoPan]="true">
              <p [innerHtml]="'Jūs esate čia'"></p>
            </agm-info-window>
          </agm-marker>
          <agm-marker *ngFor="let park of filteredParks"
                      [latitude]="park.latitude"
                      [longitude]="park.longitude"
                      [iconUrl]="'/assets/Tree-icon32.png'"
                      (mouseOver)="onMouseOver(infoWindow)"
                      (mouseOut)="onMouseOut(infoWindow)"
                      (markerClick)="onMarkerClick(park, park.latitude, park.longitude)">
            <agm-info-window #infoWindow>
              <h6 [innerHtml]="park.name"></h6>
              <p [innerHtml]="'Spustelti detalesnei informacijai'"></p>
            </agm-info-window>
          </agm-marker>
          <agm-marker *ngFor="let sport of sports"
                      [latitude]="sport.latitude"
                      [longitude]="sport.longitude"
                      [iconUrl]="getSportIcon(sport.name)"
                      (mouseOver)="onMouseOver(infoWindow)"
                      (mouseOut)="onMouseOut(infoWindow)"
                      (markerClick)="onMarkerClick(sport, sport.latitude, sport.longitude)">
            <agm-info-window #infoWindow>
              <h6 [innerHtml]="sport.name"></h6>
              <p [innerHtml]="'Spustelti detalesnei informacijai'"></p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>

<!---Error modal-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Klaida!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="errorMessage" [innerHtml]="errorMessage"></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
